<section>
  <p>그냥 대신에 고민.</p>
  <p>처음 보는 기술에 과감히 뛰어들기.</p>
  <p>나 자신과의 싸움을 통한 성장.</p>
  <p>더 쉬운 문제로 바꾸어 생각하기.</p>
</section>

<style>
  /* TODO: TEMP */
  section {
    background-color: oklch(90% 0.05 60deg);
  }

  section {
    grid-row: 1 / var(--grid-row-skillset);
    grid-column: var(--grid-column-descriptions) / -1;
  }

  p {
    font-size: 24px;
  }
</style>
