<section>
  <h2>교육 및 활동</h2>

  <ul>
    <li>2024-04 ~ 2024-10: 프로그래머스 풀스택 데브코스(3기) 수료</li>
    <li>2022-02: 한양대학교 컴퓨터공학부 학사 졸업</li>
    <li>2020-05: NAVER Campus Hackday 참가 (PWA 개발)</li>
  </ul>
</section>

<style>
  /* TODO: TEMP */
  section {
    background-color: oklch(90% 0.05 240deg);
  }

  section {
    grid-row: var(--grid-row-education) / -1;
    grid-column: var(--grid-column-projects) / -1;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
</style>
